body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: row;
}

.ranksList {
  width: 100em;
  padding: 0;
}

.rankItem {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
}
.rankItem .rankTeamName{
  text-align: left;
  flex-grow: 1;
  width: auto;
}

.rankItem span {
  width: 3em;
}
.rankItem span img {
  height: 1em;
}

.matchsList {
  display: flex;
  flex-wrap: wrap;

}

.matchItem {
  flex-shrink: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  height: 10em;
  width: 20em;
}
/*
.past {
  background-color: #fff1f1;
}
*/
.matchItem img {
  border-radius: 50%;
  height: 3em;
  margin: 1em;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team .name {
  flex-grow: 1;
  text-align: left;
}

.team .score {
  margin-left: 1em;
  margin-right: 1em;
}

.looser {
  color: lightgray
}